.title {
  font-size: 3rem;
}

.titleList {
  font-size: 1.3rem;
  line-height: 1.3;
}
.titleList a {
  color: inherit;
  text-decoration: none;
}
.titleList a:hover {
  color: var(--ifm-color-primary);
}

@media (max-width: 576px) {
  .title {
    font-size: 2rem;
  }
  .titleList {
    font-size: 1.1rem;
  }
}
